<form action="/answer" data-turbo="false">
<div class="input-group">
  <div class="form-outline ms-3">
      <input class="form-control input-lg" type="text" value="<%= params[:question] %>" name="question">
  </div>
      <input class="btn btn-primary" type="submit" value="Ask!">
</div>
</form>
